[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"

[packages]
django = "*"
django-rest-framework = "*"
django-split-settings = "*"
channels-redis = "*"
channels = "*"
environs = "*"
django-nose = "*"

[requires]
python_version = "3.7"
